@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my solution for Assignment number 01 for Back-end development. <br /> Please use the <b>nav-bar</b> to switch between views.</p> <br />
    <p><b>Robert Csollei</b></p>
</div>
